<div class="container">
	<h1 style="font-size:50px; font-weight:bolder;">Blocks on chain</h1>
	<p>Each card represents a block on the chain. Click on a block to see the transactions stored inside.</p>
  <app-block-viewer
    *ngFor="let block of blocks;let elementIndex=index;"
        [block]="block"
        [index]="elementIndex"
        (click)="showTransactions(block)"
  ></app-block-viewer>
</div>
<br><br>
<div class="container">
  <h1>Transaction Inside Block</h1>
  <app-transactions-table
    [transactions]="selectedBlock.transactions"
  ></app-transactions-table>
</div>


